<div class="taskbar">
    <div class="task1">
        <div [ngClass]="route1 == true ? 'round1 active' : 'round1' ">1</div>
        <p class="round-text">Personal Information</p>
    </div>
    <div class="line"></div>
    <div class="task1">
        <div [ngClass]="route2 == true ? 'round1 active' : 'round1' ">2</div>
        <p class="round-text">Qualifications</p>
    </div>
    <div class="line"></div>
    <div class="task1">
        <div [ngClass]="route3 == true ? 'round1 active' : 'round1' ">3</div>
        <p class="round-text">Review and Proceed</p>
    </div>
</div>