@font-face {
    font-family: "QuicksandB";
    src: url("../../../assets/Quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "QuicksandM";
    src: url("../../../assets/Quicksand/static/Quicksand-Medium.ttf");
}

$txt-color:#1F7A54;
$btn-color:#3FD28B;
.forms {
    background-color: #FFFFFF;
    border-top: 2px solid #3AC7EC;
    min-width: 440px;
    max-height: 419px;
    padding: 20px;
    margin-top: 120px;
}

.log-in {
    font-family: "QuicksandM";
    font-size: 24px;
    color: #222222;
}

.outerContainerBg {
    height: calc(100vh - 58px);
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.txt-center {
    margin-top: 14px;
    text-align: center;
}

.footer-menu {
    margin-top: 90px;
}

.email {
    margin-top: 30px;
}

input[type="email"] {
    border: none;
    background: none;
    border-bottom: 2px solid #EEEEEE;
    width: 100%;
}

input[type="email"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #EEEEEE;
    width: 100%;
    background-color: transparent;
}

input[type="password"] {
    border: none;
    background: none;
    border-bottom: 2px solid #EEEEEE;
    width: 100%;
    margin-top: 32px;
}

input[type="password"]:focus {
    border: none;
    background: none;
    border-bottom: 2px solid #EEEEEE;
    width: 100%;
    margin-top: 32px;
    outline: none;
    background-color: transparent;
}

 ::-ms-reveal {
    background-image: url("../../../assets/svg/preview.svg");
}

.email-label {
    text-align: right;
    margin-top: 5px;
    color: $txt-color;
    font-family: "QuicksandM";
    font-size: 14px;
    label {
        cursor: pointer;
    }
}

.email {
    margin-top: 30px;
}

.password-label {
    text-align: right;
    margin-top: 5px;
    color: $txt-color;
    font-family: "QuicksandM";
    font-size: 14px;
    label {
        cursor: pointer;
    }
}

.remember-me {
    margin-top: 24px;
}

.remember-me-label {
    margin-top: 24px;
    font-family: "QuicksandM";
    font-size: 14px;
    cursor: pointer;
}

.login {
    text-align: center;
    margin-top: 34px;
}

.btn-login {
    min-width: 216px;
    min-height: 40px;
    padding: 0px;
    margin: 0px;
    background: #3FD28B 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #0000003D;
    opacity: 1;
    border: 0px;
    cursor: pointer;
    font-family: "QuicksandM";
    font-size: 14px;
}

[type="checkbox"] {
    vertical-align: middle;
}

.create-account {
    padding: 0px;
    margin: 0px;
    a {
        text-decoration: none;
        color: $txt-color;
        font-family: "QuicksandM";
        font-size: 14px;
    }
}

.not-registered {
    margin-bottom: 2px;
    font-family: "QuicksandM";
    font-size: 12px;
}

.footer-menu {
    height: 18px;
    a {
        text-decoration: none;
        color: $txt-color;
        padding: 0px 8px;
        font-family: "QuicksandM";
        font-size: 14px;
    }
    .about-link {
        border-right: 2px solid #0000001F;
    }
}

.rememberPassword {
    padding: 0;
    margin: 0;
    margin-top: 24px;
}

input[type="checkbox"] {
    display: none;
}

.checkboxPosition {
    vertical-align: middle;
}