.forms {
    margin: 24px;
    background-color: white;
    position: relative;
}

.first-name {
    display: inline-block;
}

.profile-pic {
    display: inline-block;
    position: absolute;
    left: 80%;
}

.last-name {}