<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="forms">
        <div class="first-name label-style">
            <label for="first-name">First Name*</label>
        </div>
        <div>
            <input type="text" name="firstname" id="" class="first-name-input" required ngModel>

        </div>

        <span class="profile-pic">
            <img *ngIf="selectedImage" [src]="selectedImage" alt="Uploaded Profile" class="profile-image">
            <input type="file" name="profilepic" id="" class="profile-pic-input" accept="image/*" (change)="onImageSelected($event)">

        </span>

        <div class="last-name label-style">
            <label for="last-name">Last Name*</label> </div>
        <div>
            <input type="text" name="lastname" id="" class="last-name-input" required ngModel>

        </div>
        <div class="email label-style">
            <label for="email">Email*</label>
        </div>
        <div>
            <input type="email" name="email" id="" class="email-input" email required ngModel>

        </div>
        <div class="phone label-style">
            <label for="number">Phone Number*</label></div>
        <div>
            <input type="number" name="number" id="" class="number-input" required ngModel>

        </div>
        <div class="resume label-style">
            <input #uploadResume type="file" name="resume" id="" class="resume-input" ngModel accept=".pdf" hidden (change)="onFileSelected($event)">

            <img class="upload" src="../../../../assets/svg/Upload_black_24dp.svg" alt="resume-icon">
            <h6 class="resume-text" (click)="uploadResume.click()">UPLOAD UPDATED RESUME</h6>
        </div>


        <div class="portfolio label-style">
            <label for="portfolio">Enter Portfolio url (if any)</label></div>
        <div>
            <input type="text" name="portfolio" id="" class="portfolio-input" required ngModel>

        </div>
        <div class="preferred-roles label-style">

            <p>Please select your preferred-roles:</p>
            <div class="idr">
                <label for="remember-me" (click)="toggleCheckbox1() " class="remember-me-label">
                    <input type="checkbox"  [(ngModel)]="isChecked1" name="instructionaldesigner">
                      <img [src]="isChecked1 ? '../../../assets/svg/checkbox-checked.svg' : '../../../assets/svg/checkbox-unchecked.svg' " alt="Checkbox Image " class="checkboxPosition ">
                      Instructional Designer</label>
                <!-- <input type="checkbox"  value="instructional_designer" ngModel>
                <span for="instructional_designer">Instructional Designer</span> -->
            </div>

            <div class="se">
                <label for="remember-me" (click)="toggleCheckbox2() " class="remember-me-label">
                    <input type="checkbox"  [(ngModel)]="isChecked2" name="softwareengineer">
                      <img [src]="isChecked2 ? '../../../assets/svg/checkbox-checked.svg' : '../../../assets/svg/checkbox-unchecked.svg' " alt="Checkbox Image " class="checkboxPosition ">
                      Software Engineer</label>

                <!-- <input type="checkbox" name="softwareengineer" value="software_engineer" ngModel>
                <span for="software_engineer">Software Engineer</span> -->
            </div>
            <div class="sqe">
                <label for="remember-me" (click)="toggleCheckbox3() " class="remember-me-label">
                    <input type="checkbox"  [(ngModel)]="isChecked3" name="softwarequalityengineer">
                      <img [src]="isChecked3 ? '../../../assets/svg/checkbox-checked.svg' : '../../../assets/svg/checkbox-unchecked.svg' " alt="Checkbox Image " class="checkboxPosition ">
                      Software Quality Engineer</label>
                <!-- <input type="checkbox" name="softwarequalityengineer" value="software_quality_engineer" ngModel>
                <span for="software_quality_engineer">Software Quality Engineer</span> -->
            </div>





        </div>
        <div class="referral label-style">
            <label for="referral ">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</label>
        </div>
        <div>
            <input type="text" name="referral" id=" " class="referral-input " ngModel>
        </div>

        <div class="job-updates">
            <label for="remember-me" (click)="toggleCheckbox4() " class="remember-me-label">
                <input type="checkbox"  [(ngModel)]="isChecked4" name="jobupdates">
                  <img [src]="isChecked4 ? '../../../assets/svg/checkbox-checked.svg' : '../../../assets/svg/checkbox-unchecked.svg' " alt="Checkbox Image " class="checkboxPosition ">
                  </label>
            <input type="checkbox" name="jobupdates " value="job_updates " ngModel>   <span for="job_updates ">Send me job related updates via mail</span>

        </div>
    </div>
    <div class="bg-tag">
        <button type="submit " class="next-btn">Next</button>
    </div>
</form>