<div class="bg-color">
    <div class="grid-container">
        <div class="hallticket">

            <div class="container">

                <div class="congrats">
                    Congratulations ! You have successfully applied for the walk-in opportunity
                    <div class="circle">
                        <div class="checkmark"></div>
                    </div>
                </div>
                <hr>
                <div class="date-time">
                    Date & Time of Walk-In :
                </div>
                <div class="date">
                    03rd July 2021
                </div>
                <div class="time">
                    {{time}}
                </div>

                <hr>
                <div class="venue-walkin">
                    Venue of Walk-In :
                </div>
                <div class="common-font">
                    Zeus Systems Pvt. Ltd.
                </div>
                <div class="common-font">
                    1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg
                </div>
                <div class="common-font">
                    Lower Parel (W)
                </div>
                <div class="common-font">
                    Mumbai - 400 013
                </div>
                <div class="common-font">
                    Phone: +91-22-66600000
                </div>
                <hr>
                <div class="things-to-remember">
                    THINGS TO REMEMBER :
                </div>
                <div class="common-font">
                    - Please report 30 MINUTES prior to your reporting time.
                </div>
                <div class="common-font">
                    - Download your Hall Ticket from below and carry it with you during your Walk-In.
                </div>
                <hr>
                <div class="download-btn-div">
                    <button class="download-btn" (click)="download()"> DOWNLOAD HALL TICKET</button>

                </div>
            </div>
        </div>
    </div>
</div>