<div class="outerGrid">
    <div class="card" *ngFor="let data of datas; let i = index">
        {{i}}
        <div class="title">
            Walk In for {{data.walkinFor}} Job Role
        </div>

        <div class="date-time">
            Date and time:
        </div>
        <div class="dates">
            <span> {{data.date}}</span>
            <span>{{data.location}}</span>

        </div>
        <hr>
        <div class="job-roles">
            Job roles
        </div>
        <div *ngFor="let data of datas[i].jobRoles; let j  = index">{{data.name}}</div>
        <div class="internship"> {{data.internship}}
        </div>
        <div>

        </div>
        <div class="btn">
            <button routerLink='{{data.id}}'>VIEW MORE DETAILS</button>
        </div>
    </div>
</div>