<div class="first-line">
    <span class="personal-info">Personal Information</span>
    <span class="edit">Edit</span>
</div>
<div class="personal-info-form">
    <div class="flex-container">
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="last-name-label">Last Name</div>
        <div class="last-name">John</div>
        <div class="email-name-label">email Name</div>
        <div class="email-name">John@gmail.com</div>
        <div class="phone-label">Phone no</div>
        <div class="phone">9234234234</div>
        <div class="first-name-label">Uploaded resume - resume.pdf</div>

        <div class="portfolio-label">Enter portfolio url (if any)</div>
        <div class="portfolio">John.com</div>
        <div class="job-label">Preferred job-roles</div>
        <div class="job">idr</div>
        <div class="job">sqe</div>
        <div class="job">se</div>
        <div class="referral-label">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You</div>
        <div class="referral">Johnny.com</div>
        <div class="updates">
            <img src="../../../assets/svg/checkbox-checked.svg" alt="">
            <span>Send me jop related updates</span>
        </div>
    </div>
    <div class="pic">
        <img src="../../../assets/svg/Zeus-LMS-logo.svg" alt="">
    </div>

</div>
<div class="second-line">
    <span class="qualification-info">Personal Information</span>
    <span class="edit-btn">Edit</span>
</div>
<div class="outer-qualification">
    <h4>Educational qualification</h4>
    <div class="inner-qualification">
        <div class="agg-label">Aggregate percentage</div>
        <div class="agg">65%</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div>
            <div class="first-name-label">First Name</div>
            <div class="first-name">John</div>
            <div class="first-name-label">First Name</div>
            <div class="first-name">John</div>
        </div>
        <div>
            <div class="first-name-label">First Name</div>
            <div class="first-name">John</div>
            <div class="first-name-label">First Name</div>
            <div class="first-name">John</div>
        </div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>

    </div>


</div>
<div class="outer-personal">
    <h4 class="m">Personal qualification</h4>
    <div class="inner-qualification-personal">
        <div class="agg-label">Aggregate percentage</div>
        <div class="agg">65%</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>

        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>


        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>

        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>
        <div class="first-name-label">First Name</div>
        <div class="first-name">John</div>

    </div>


</div>